<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div>
                <ul>
                    {{!-- {{#each burger}} --}}
                    {{!-- {{#unless this.devoured}} --}}
                    <li>
                        {{!-- {{this.burger_name}} --}}
                        <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button type="submit">Devour</button>
                        </form>
                    </li>
                    {{!-- {{/unless}} --}}
                    {{!-- {{/each}} --}}
                </ul>
            </div>
        </div>


        <div class="col-lg-4">
            <h1>Burger</h1>
            <p>Pick a Burger, Eat a Burger</p>
            <form method="POST" action="burger/create" class="button-size">
                <textarea type="text" name="burger_name"></textarea>
                <button type="submit">Add Burger!</button>
            </form>
        </div>

        <!--next code should be the burger that have been devoured-->
        <div class="col-lg-4">
            <h2>Devoured burger</h2>
            <ul>
                {{!-- {{#each burger}} --}}
                {{!-- {{#if this.devoured}} --}}
                <li>
                    {{!-- {{this.burger_name}} --}}
                    <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false"/>
                        <button type="submit">Put Back</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>